body,html{
    margin:0;
    height: 100%;
    width: 100%;  
}
img{
    width:10em;
    height:4em;
    padding-top: 0em;
    position:relative;
}

h2{
  text-align: center;
  padding-top: 2em;
  padding-bottom: 1em;
  font-size: 30px;
  font:normal bold 2.5em Georgia, 'Times New Roman', Times, serif;

}

p{
  border-radius: 15px;
  color:white;
  word-spacing: 4px;
  text-indent: 2%;
  white-space: normal;
  padding-top: 0;
  padding-bottom: 1em;
  font-size: 20px;
  font:normal 1.1em Georgia, 'Times New Roman', Times, serif;
}


.start_create{
  height: 160%;
  margin:0;
  padding:0;
  font-family: sans-serif;
  text-align: center;
  background-image: url("https://images.pexels.com/photos/3775164/pexels-photo-3775164.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: center;
    background-repeat: no-repeat;
    background-size: inherit;
}

.login-box2 {
  position: relative;
  top: 50%;
  left: 50%;
  width: 700px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box2 h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box2 .user-box {
  position: relative;
}

.login-box2 .user-box input {
  width: 60%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box2 .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  /*right:1em;*/
  right:1em;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box2 .user-box input:focus ~ label,
.login-box2 .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #d17103;
  font-size: 12px;
}


.login-box2 form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #d17103;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box2 a:hover {
  background: #d17103;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #d17103,
              0 0 25px #d17103,
              0 0 50px #d17103,
              0 0 100px #d17103;
}

.login-box2 a span{
  position: absolute;
  display: block;
}

.login-box2 a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #d17103);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box2 a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #d17103);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box2 a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #d17103);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box2 a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #d17103);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}


button{
  background:rgba(0, 0, 0, 0);
  text-decoration: none;
  border: none;
  text-align: center;
  padding-top: 7em;
}


.login-box2 .check-box {
  position: relative;
}

.login-box2 .check-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box2 .check-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box2 .check-box input:focus ~ label,
.login-box2 .check-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #d17103;
  font-size: 12px;
}


.login-box2 form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #d17103;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box2 a:hover {
  background: #d17103;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #d17103,
              0 0 25px #d17103,
              0 0 50px #d17103,
              0 0 100px #d17103;
}

.login-box2 span{
  position: absolute;
  display: block;
}


.upload{
    width: 50%;
    padding: 10px 0;
    padding-left: 60px;
    font-size: 20px;
    color: #fff;
    left:100px;
    border: none;
    outline: none;
    background: transparent;
}
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #dbc9a8;
  border-radius: 10px;
}

::-webkit-scrollbar
{
  width: 10px;
  background-color: #dbc9a8;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.44, rgb(226, 179, 141)),color-stop(0.72, rgb(184, 117, 63)),color-stop(0.86, rgb(170, 93, 30)));
}


@media only screen and (max-width:300px){
  .start_create{
    height: 150%;
    width: 120%;
    margin:0;
    padding:0;
    background-image: url(" https://images.unsplash.com/photo-1617133973515-f714c8e8f51e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
    background-size: 120% 100%;
  }
  
.login-box2 {
  width: 300px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.712);
}

.login-box2 h2 {
  margin: 0 0 10px;
  font-size: 20px;
}

button{
  padding-top: 3em;
}

.upload{
  width: 50%;
  padding: 0 0;
  padding-left: 0;
  font-size: 10px;
  left:0;
}
}

@media only screen and (min-width:300px) and (max-width:500px){
  .start_create{
    height: 120%;
    width: 110%;
    margin:0;
    padding:0;
    background-image: url(" https://images.unsplash.com/photo-1617133973515-f714c8e8f51e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
    background-size: 120% 100%;
  }
  
.login-box2 {
  width: 300px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.712);
}

.login-box2 h2 {
  margin: 0 0 10px;
  font-size: 20px;
}

button{
  padding-top: 3em;
}

.upload{
  width: 50%;
  padding: 0 0;
  padding-left: 0;
  font-size: 10px;
  left:0;
}
}

@media screen and (min-width:500px) and (max-width:900px){
.start_create{
    height: 130%;
    width: 130%;
    margin:0;
    padding:0;
    background-size: 120% 100%;
  }
  
.login-box2 {
  width: 500px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.712);
}

.login-box2 h2 {
  margin: 0 0 10px;
  font-size: 20px;
}

button{
  padding-top: 4em;
}

.upload{
  width: 50%;
  padding: 0 0;
  padding-left: 0;
  font-size: 20px;
  left:0;
}
}

@media screen and (min-width:900px) and (max-width:1024px){
.start_create{
    height: 140%;
    width: 130%;
    margin:0;
    padding:0;
    background-size: 120% 100%;
  }
  
.login-box2 {
  width: 500px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.712);
}

.login-box2 h2 {
  margin: 0 0 10px;
  font-size: 30px;
}

button{
  padding-top: 4em;
}

.upload{
  width: 50%;
  padding: 0 0;
  padding-left: 0;
  font-size: 20px;
  left:0;
}
}
