      ::-webkit-scrollbar-track {
         -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
         background-color: #F5F5F5;
         border-radius: 10px;
     }
     
      ::-webkit-scrollbar {
         width: 10px;
         background-color: #F5F5F5;
     }
     
      ::-webkit-scrollbar-thumb {
         border-radius: 10px;
         background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(103, 223, 223)), color-stop(0.72, rgb(70, 151, 151)), color-stop(0.86, rgb(41, 114, 114)));
     }
     
     .menu {
         list-style-type: none;
         flex-direction: column;
         margin: 0;
         padding: 0;
         width: 15%;
         position: fixed;
         height: 100%;
         overflow: auto;
         font-size: 160%;
     }
     
     .menu,
     li a {
         display: block;
         color: white;
         padding: 8px 16px;
         text-decoration: none;
         padding-bottom: 1em;
         background-color: rgb(0, 0, 0);
         background-color: rgba(0, 0, 0, 0.4);
         z-index: 2;
         padding: 1.5em;
     }
     
     .menu li.start {
         padding-bottom: 2em;
         font-size: 3em;
         padding-left: 0.3em;
     }
     
     .meniu,
     li a:hover {
         background-color: black;
         color: white;
     }
     
     img {
         width: 10em;
         height: 4em;
         padding-bottom: 6em;
         position: relative;
     }
     
     html {
         margin: 0;
         padding: 0;
         box-sizing: border-box;
     }
     
     body {
         width: 50%;
         margin: 0;
         background-size: 100%;
         font-family: sans-serif;
         background-image: url("https://images.unsplash.com/flagged/photo-1556746834-cbb4a38ee593?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80");
         text-align: center;
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
         background-attachment: fixed;
         font-family: 'Kanit', sans-serif;
     }
     
     #btnSignOut {
         width: 15em;
         display: block;
         color: white;
         padding: 8px 16px;
         text-transform: uppercase;
         padding-bottom: 1em;
         background-color: rgb(0, 0, 0);
         background-color: rgba(0, 0, 0, 0.4);
         z-index: 2;
         padding: 1.5em;
         transition: box-shadow .3s;
     }
     
     #btnSignOut:hover {
         background-color: rgb(136, 0, 0);
         box-shadow: 0 0 15px rgb(65, 0, 0);
         color: white;
     }
     /*
.calendar{
    padding-left: 30em;
    padding-top: 7em;
}
  
  .calendar-base {

    width: 900px;
    height: 500px;
    border-radius: 20px;
    background-color: white;
    position: relative;
    z-index: -1;
    color: black;
  }
  
  .year {
    color: #E8E8E8;
    font-size: 30px;
    float: right;
    position: relative;
    right: 75px;
    top: 20px;
    font-weight: bold;
  }
  
  .triangle-left {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 10px solid #E8E8E8;
    border-bottom: 5px solid transparent;
    float: right;
    position: relative;
    right: 90px;
    top: 36px;
  }
  
  .triangle-right {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 10px solid #E8E8E8;
    border-bottom: 5px solid transparent;
    float: right;
    position: relative;
    left: 20px;
    top: 36px;
  }
  .triangle-left:hover{
    border-right: 10px solid#2ECC71;
  }
  .triangle-right:hover{
    border-left: 10px solid#2ECC71;
  }
  
  .month-color {
    color: #27AE60;
  }
  .month-hover:hover{
    color:#27e879 !important;
  }
  
  .months {
    color: #AAAAAA;
    position: relative;
    left: 190px;
    top: 90px;
    word-spacing: 10px;
  }
  
  .month-line {
    border-color: #E8E8E8;
    position: relative;
    top: 85px;
    width: 57%;
    left: 178px;
  }
  
  .days {
    color: #AAAAAA;
    position: relative;
    font-size: 18px;
    left: 150px;
    top: 80px;
    word-spacing: 35px;
    font-weight: 600;
  }
  
  .num-dates {
    float: right;
    position: relative;
    top: 110px;
    right: 50px;
    z-index: 1;
  }
  
  .first-week {
    margin-bottom: 25px;
    word-spacing: 55px;
  }
  
  .second-week {
    margin-bottom: 25px;
    word-spacing: 55px;
  }
  
  .third-week {
    margin-bottom: 25px;
    word-spacing: 55px;
  }
  
  .fourth-week {
    margin-bottom: 25px;
    word-spacing: 55px;
  }
  
  .fifth-week {
    margin-bottom: 25px;
    word-spacing: 55px;
  }
  
  .sixth-week {
    margin-bottom: 25px;
    word-spacing: 55px;
  }
  
  .active-day {
     
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #2ECC71;
    position: relative;
    top: 267px;
    left: 670px;
  }
  
  .white {
    color: white;
  }
  
  .event-indicator {


    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #2980B9;
    position: relative;
    top: 304px;
    left: 695px;
  }
  
  .two {
    position: relative;
    top: 168px;
    left: 535px;
  }
  
  .grey {
    color: #AAAAB1;
  }
  
  .calendar-left {
    width: 300px;
    height: 500px;
    border-radius: 20px 0px 0px 20px;
    background-color: #2ECC71;
    position: relative;
    z-index: -1;
    bottom: 500px;
    color: white;
  }
  
  .hamburger {
    position: relative;
    top: 25px;
    left: 25px;
  }
  
  .burger-line:hover, .hamburger:hover{
    background-color:#27e879 !important;
  }
  
  .burger-line {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 15%;
    margin-bottom: 3px;
  }
  
  .num-date {
    font-size: 150px;
    width: 50%;
    margin: 0 auto;
    font-weight: 700;
  }
  
  .day {
    width: 50%;
    margin: 0px auto;
    font-size: 30px;
    position: relative;
    bottom: 20px;
  }
  
  .current-events {
    font-size: 15px;
    position: relative;
    margin-left: 25px;
    bottom: 15px;
  }
  
  .posts {
    text-decoration: underline dotted;
  }
  .posts:hover{
    color:#27e879 !important;
  }
  
  .create-event {
    font-size: 18px;
    position: relative;
    margin-top: 30px;
    margin-left: 25px;
  }
  
  .event-line {
    width: 90%;
  }
  
  .add-event {
    width: 20px;
    height: 20px;
    padding: 0px;
    border-radius: 50%;
    border: solid white 2px;
    position: relative;
    bottom: 42px;
    left: 260px;
  }
  
  .add {
    font-size: 25px;
    position: relative;
    left: 2px;
    bottom: 4px;
  }
  
  .add:hover, .create-event:hover, .add-event:hover{
    color:#27e879 !important;
    border-color: #27e879 !important;
  }

@media only screen and (max-width:300px){
 .menu {
    width: 15%;
    height: 20%;
  }
  .menu, li a {
    padding-bottom: 1em;
    padding-top: 1em;
  }
  
  .menu li.start{
    padding-top: 2em;
    padding-bottom: 0.5em;
    font-size: 3em;
    padding-left: 0.3em;
  }
  .calendar{
    padding-left: 15em;
    padding-top: 5em;
}

}
  
@media only screen and (min-width:300px) and (max-width:500px){
  .menu {
    width: 15%;
    height: 25%;
  }
  .menu, li a {
    padding-bottom: 1em;
    padding-top: 1em;
  }
  .menu li.start{
    padding-top: 2em;
    padding-bottom: 0.5em;
    font-size: 3em;
    padding-left: 0.3em;
  }
}
  
@media screen and (min-width:500px) and (max-width:900px){
  .menu {
    width: 15%;
    height: 40%;
  }
  .menu, li a {
    padding-bottom: 1em;
    padding-top: 0.5em;
  }
  .menu li.start{
    padding-top: 2em;
    padding-bottom: 0.5em;
    font-size: 3em;
    padding-left: 0.3em;
  } 
  .calendar{
    padding-left: 25em;
    padding-top: 5em;
}
}
  
@media screen and (min-width:900px) and (max-width:1500px){
  .menu {
    width: 15%;
    height: 100%;
  }
  
  .menu li.start{
    padding-top: 2em;
    padding-bottom: 0.5em;
    font-size: 3em;
    padding-left: 0.3em;
  }
  .calendar{
    padding-left: 30em;
    padding-top: 5em;
}
  
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

html{
  font-size: 62.5%;
  margin:0;
  background-size: 100%;
  font-family: sans-serif;
  background-image:url("https://images.unsplash.com/flagged/photo-1556746834-cbb4a38ee593?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80");
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  font-family: 'Kanit', sans-serif; 
}


.container{
  width: 100%;
  height:100vh;
  display: flex;
  color:#eee;
  display: flex;
  justify-content: center;
  align-items: center;

}

.calendar{
  width:45rem;
  height: 52rem;
  background-color: #222227;
  box-shadow: 0 0.5rem 3rem rgba(0,0,0,0.4);

}

.month{
  width: 100%;
  height: 12rem;
  background-color: #167e56;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 2rem;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0,0,0, 0.5);

}

.month i{
  font-size: 2.5rem;
  cursor: pointer;
}

.month h1{
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom:1rem;

}

.month p{
  font-size:1.6rem;
}

.weekdays{
  width: 100%;
  height: 5rem;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;

}


.weekdays div{
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: cal(44.2rem/7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0,0,0, 0.5);
}

.days{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
}

.days div{
  font-size:1.4rem;
  margin:0.3rem;
  width: calc(40.2rem/7);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0,0,0, 0.5);
  transition: background-color 0.2s;
}

.days div:hover:not(.today){
  background-color: #262626;
  border: 2rem solid #777;
  cursor: pointer;
}

.prev-date,.next-date{
  opacity: 0.5;
}

.today{
  background-color: #167e56;

}

*/
     
     * {
         margin: 0;
         padding: 0;
         box-sizing: border-box;
         font-family: "Quicksand", sans-serif;
     }
     
     html {
         font-size: 62.5%;
     }
     
     .container {
         width: 100%;
         height: 100vh;
         color: #eee;
         display: flex;
         justify-content: center;
         align-items: center;
         padding-left: 130em;
         font-size: 62.5%;
     }
     
     .calendar {
         width: 45rem;
         height: 52rem;
         background-color: #222227;
         box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
     }
     
     .month {
         width: 100%;
         height: 12rem;
         background-color: #167e56;
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding: 0 2rem;
         text-align: center;
         text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
     }
     
     .month i {
         font-size: 2.5rem;
         cursor: pointer;
     }
     
     .month h1 {
         font-size: 3rem;
         font-weight: 400;
         text-transform: uppercase;
         letter-spacing: 0.2rem;
         margin-bottom: 1rem;
     }
     
     .month p {
         font-size: 1.6rem;
     }
     
     .weekdays {
         width: 100%;
         height: 5rem;
         padding: 0 0.4rem;
         display: flex;
         align-items: center;
     }
     
     .weekdays div {
         font-size: 1.5rem;
         font-weight: 400;
         letter-spacing: 0.1rem;
         width: calc(44.2rem / 7);
         display: flex;
         justify-content: center;
         align-items: center;
         text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
     }
     
     .days {
         width: 100%;
         display: flex;
         flex-wrap: wrap;
         padding: 0.2rem;
     }
     
     .days div {
         font-size: 1.4rem;
         margin: 0.3rem;
         width: calc(40.2rem / 7);
         height: 5rem;
         display: flex;
         justify-content: center;
         align-items: center;
         text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
         transition: background-color 0.2s;
     }
     
     .days div:hover:not(.today) {
         background-color: #262626;
         border: 0.2rem solid #777;
         cursor: pointer;
     }
     
     .prev-date {
         opacity: 0.5;
     }
     
     .next-day {
         opacity: 0.5;
     }
     
     .today {
         background-color: #167e56;
     }